asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
Django==3.0.8
django-contrib-comments==1.9.2
djangorestframework==3.11.0
idna==2.10
Markdown==2.6.11
mysqlclient==2.0.1
Pillow==7.2.0
Pygments==2.2.0
PyMySQL==0.10.0
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
