{% extends 'blog/base.html' %}
{% block title %}博客首页{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% for entry in entries %}
                    <hr />
                    <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
                    {% if entry.img %}
                    <img alt="blog image here" src="{{ entry.img.url }}" width="10%" height="10%" />
                    {% endif %}
                    {% if entry.abstract %}
                    <p>{{ entry.abstract }}</p>
                    {% else %}
                    <p>{{ entry.body|truncatechars:30 }}</p>
                    {% endif %}
                    <p>
                        <span>author: {{ entry.author }}</span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;create_time: {{ entry.created_time }}</span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;visit: {{ entry.visiting }}</span>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
