{% load blog_tags %}


{% block toc %}{% endblock %}
<div class="row">
    <div class="widget, pull-left">
        <h3>Latest Blog</h3>
        {% get_latest_entries as recent_entry_list %}
        {% for entry in recent_entry_list %}
            <div>
                <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                <div>{{ entry.author }} {{ entry.created_time }}</div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="row" style="margin-top: 20px">
    <div class="widget, pull-left">
        <h3>Most Visited</h3>
        {% get_most_visited_entries as recent_entry_list %}
        {% for entry in recent_entry_list %}
            <div>
                <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                <button class="btn btn-primary" type="button">
                    <span class="badge"
                          style="color: greenyellow;background-color: deepskyblue">{{ entry.visiting }}</span>
                </button>
            </div>
        {% endfor %}
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="widget, pull-left">
        <h3>Categories</h3>
        {% get_categories_entries as entry_list %}
        <ul class="list-group" style="display: inline-block">
            {% for entry in entry_list %}
                <li class="list-group-item">
                    <a href="{% url 'blog:blog_category' entry.id %}">{{ entry.name }}</a>
                    <span class="badge"
                          style="color: greenyellow;background-color: deepskyblue">{% get_count_of_category entry.id %}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="widget, pull-left">
        <h3>Archives</h3>
        {% get_archive_entries as entry_list %}
        <ul class="list-group" style="display: inline-block">
            {% for entry in entry_list %}
                <li class="list-group-item">
                    <a href="{% url 'blog:blog_archive' entry.year entry.month %}">
                        {{ entry.year }} {{ entry.month }}
                    </a>
                    <span class="badge"
                          style="color: greenyellow;background-color: deepskyblue">{% get_count_of_archive entry.year entry.month %}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="widget, pull-left">
        <h3>Tags Cloud</h3>
        {% get_tags_entries as entry_list %}
        {% for entry in entry_list %}
            <a href="{% url 'blog:blog_tag' entry.id %}">
                <span class="label {% cycle 'label-default' 'label-primary' 'label-success' 'label-info' 'label-warning' 'label-danger' %}">{{ entry.name }}</span>
            </a>
        {% endfor %}
    </div>
</div>

<div class="row" style="margin-top: 20px;margin-bottom: 50px">
    <div class="rss">
        <a href="/latest/feed/">
            <h3>RSS</h3>
        </a>
    </div>
</div>